<p id="notice"><%= notice %></p>

<h1>Options</h1>

<table>
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Price</th>
      <th>Expiration</th>
      <th>Ask</th>
      <th>Bid</th>
      <th>Annualized return</th>
      <th>Return</th>
      <th>Strike</th>
      <th>Volume</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @options.each do |opt| %>
      <tr>
        <td><%= opt.stock.symbol %></td>
        <td><%= number_to_currency(opt.stock.price) %></td>
        <td><%= opt.expiration %></td>
        <td><%= number_to_currency(opt.ask) %></td>
        <td><%= number_to_currency(opt.bid) %></td>
        <td><%= number_to_currency(opt.annualized_return) %></td>
        <td><%= number_to_currency(opt.return) %></td>
        <td><%= number_to_currency(opt.strike) %></td>
        <td><%= opt.volume %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
